<div class="col-md-4 col-lg-3">
    <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
        <div class="categories">
            <h4 class="txt33 bo5-b p-b-35">
                User Panel
            </h4>
            <ul>
                {% if user.is_superuser %}
                    <li class="bo5-b p-t-8 p-b-8">
                        <a href="/admin" class="txt27">
                            Admin Panel
                        </a>
                    </li>
                {% endif %}
                <li class="bo5-b p-t-8 p-b-8">
                    <a href="/user" class="txt27">
                        User Profile
                    </a>
                </li>
                <li class="bo5-b p-t-8 p-b-8">
                    <a href="/user/orders" class="txt27">
                        My Orders
                    </a>
                </li>
                <li class="bo5-b p-t-8 p-b-8">
                    <a href="/user/comments" class="txt27">
                        My Comments
                    </a>
                </li>
                <li class="bo5-b p-t-8 p-b-8">
                    <a href="/logout" class="txt27">
                        Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
